# Titre docuement

## 1) Importation des modules

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [93]:
#Importation du dataset
df =  pd.read_excel("analyse de terre.xlsx", )

#Modification sur excel pour reliée les différentes données car séparation de lignes avec des dossiers

## 2) Exploration des données

In [96]:
# Affiche le nombre de colonnes et lignes
df.shape

(132, 25)

In [98]:
# Affiche les 5 premières lignes
df.head()

,N° Laboratoire,Réf échantillon,N° FR,Exploitant - parcelle,Date de prélèvement,Nature,Argile (déc) (o/oo) g/kg,Limon Fin (déc) (o/oo) g/kg,Limon Grossier (déc) (o/oo) g/kg,Sable Fin (déc) (o/oo) g/kg,...,Azote total (o/oo) g/kg,C/N -,P2O5 Olsen (o/oo) g/kg,Cu DTPA mg/kg,Zn DTPA mg/kg,Ni DTPA mg/kg,Cu total ER (mg/Kg),Ni total ER (mg/Kg),Pb total ER (mg/Kg),Zn total ER (mg/Kg)
0,T-02540-24,EvEx_03Gal,WW 848033,UNIV PAUL VALERY EvEx_03Gal,2024-02-05,TERRES,557,189.0,104.0,91.3,...,2.3,13.9,0.026,13.1,4.7,0.37,71.2,26.2,44.9,109.0
1,T-02541-24,EvEx_04Mou,WW 848035,UNIV PAUL VALERY EvEx_04Mou,2024-02-05,TERRES,362,123.0,125.0,196.0,...,1.2,12.9,0.057,5.6,2.9,0.89,38.4,79.6,36.1,91.4
2,T-02542-24,EvEx_05Mou,WW 848037,UNIV PAUL VALERY EvEx_05Mou,2024-02-05,TERRES,205,116.0,125.0,245.0,...,1.7,12.1,0.095,3.3,9.5,0.69,31.4,61.3,70.7,122.0
3,T-02543-24,EvEx_06Lou,WW 848039,UNIV PAUL VALERY EvEx_06Lou,2024-02-05,TERRES,405,135.0,130.0,253.0,...,1.1,13.7,0.027,16.4,3.2,0.26,70.3,29.1,47.6,77.0
4,T-02544-24,EvEx_07Lou,WW 848041,UNIV PAUL VALERY EvEx_07Lou,2024-02-05,TERRES,431,135.0,128.0,253.0,...,1.0,13.2,0.058,16.6,3.1,0.16,77.1,33.6,52.0,85.5

In [100]:
# Nom des colonnes
df.columns

Index(['N° Laboratoire', 'Réf échantillon', 'N° FR', 'Exploitant - parcelle',
       'Date de prélèvement', 'Nature', ' Argile (déc) (o/oo) g/kg ',
       ' Limon Fin (déc) (o/oo) g/kg ', ' Limon Grossier (déc) (o/oo) g/kg ',
       ' Sable Fin (déc) (o/oo) g/kg ', ' Sable Grossier (déc) (o/oo) g/kg ',
       ' pH eau - ', ' Carbonates totaux g/kg ',
       ' Carb. organique (o/oo) g/kg ', ' Matière organique (o/oo) g/kg ',
       ' Azote total (o/oo) g/kg ', ' C/N - ', ' P2O5 Olsen (o/oo) g/kg ',
       ' Cu DTPA mg/kg ', ' Zn DTPA mg/kg ', ' Ni DTPA mg/kg ',
       ' Cu total ER (mg/Kg) ', ' Ni total ER (mg/Kg) ',
       ' Pb total ER (mg/Kg) ', ' Zn total ER (mg/Kg) '],
      dtype='object')

In [102]:
# Type des données
df.dtypes

N° Laboratoire                                object
Réf échantillon                               object
N° FR                                         object
Exploitant - parcelle                         object
Date de prélèvement                   datetime64[ns]
Nature                                        object
 Argile (déc) (o/oo) g/kg                      int64
 Limon Fin (déc) (o/oo) g/kg                 float64
 Limon Grossier (déc) (o/oo) g/kg            float64
 Sable Fin (déc) (o/oo) g/kg                 float64
 Sable Grossier (déc) (o/oo) g/kg             object
 pH eau -                                    float64
 Carbonates totaux g/kg                      float64
 Carb. organique (o/oo) g/kg                 float64
 Matière organique (o/oo) g/kg               float64
 Azote total (o/oo) g/kg                     float64
 C/N -                                       float64
 P2O5 Olsen (o/oo) g/kg                      float64
 Cu DTPA mg/kg                               float64
 Zn DTPA mg/kg                               float64
 Ni DTPA mg/kg                               float64
 Cu total ER (mg/Kg)                         float64
 Ni total ER (mg/Kg)                         float64
 Pb total ER (mg/Kg)                         float64
 Zn total ER (mg/Kg)                         float64
dtype: object

In [104]:
df[' Sable Grossier (déc) (o/oo) g/kg '].value_counts()

 Sable Grossier (déc) (o/oo) g/kg
182    4
211    3
194    3
180    3
105    3
      ..
139    1
107    1
257    1
137    1
231    1
Name: count, Length: 112, dtype: int64

In [106]:
# Fonction pour nettoyer les données et les convertir en float
def convertir_ou_remplacer(val):
    # Convertir chaque valeur en chaîne pour éviter des erreurs de type
    val_str = str(val)
    try:
        # Retirer les symboles comme "<" ou ">", puis convertir en float
        if '<' in val_str:
            # Si on trouve un symbole "<", on prend la valeur numérique après et la transforme en float
            return float(val_str.replace('<', '').strip())
        return float(val_str)  # Tenter une conversion directe
    except ValueError:
        return None  # Si ce n'est pas convertible, remplacer par NaN ou None

# Appliquer la fonction pour convertir ou remplacer les valeurs problématiques
df[' Sable Grossier (déc) (o/oo) g/kg '] = df[' Sable Grossier (déc) (o/oo) g/kg '].apply(convertir_ou_remplacer)

# Afficher le DataFrame après traitement
print(df)

    N° Laboratoire Réf échantillon      N° FR        Exploitant - parcelle  \
0       T-02540-24      EvEx_03Gal  WW 848033  UNIV PAUL VALERY EvEx_03Gal
1       T-02541-24      EvEx_04Mou  WW 848035  UNIV PAUL VALERY EvEx_04Mou
2       T-02542-24      EvEx_05Mou  WW 848037  UNIV PAUL VALERY EvEx_05Mou
3       T-02543-24      EvEx_06Lou  WW 848039  UNIV PAUL VALERY EvEx_06Lou
4       T-02544-24      EvEx_07Lou  WW 848041  UNIV PAUL VALERY EvEx_07Lou
..             ...             ...        ...                          ...
127     T-02438-24      CpUt_16Rob  WW 847829  UNIV PAUL VALERY CpUt_16Rob
128     T-02439-24      CpUt_17Rob  WW 847831  UNIV PAUL VALERY CpUt_17Rob
129     T-02440-24      CpUt_18Rob  WW 847833  UNIV PAUL VALERY CpUt_18Rob
130     T-02441-24      CpUt_19Sun  WW 847835  UNIV PAUL VALERY CpUt_19Sun
131     T-02442-24      CpUt_20Cas  WW 847837  UNIV PAUL VALERY CpUt_20Cas

    Date de prélèvement  Nature   Argile (déc) (o/oo) g/kg   \
0            2024-02-05  TERRES                         557
1            2024-02-05  TERRES                         362
2            2024-02-05  TERRES                         205
3            2024-02-05  TERRES                         405
4            2024-02-05  TERRES                         431
..                  ...     ...                         ...
127          2024-02-05  TERRES                         316
128          2024-02-05  TERRES                         314
129          2024-02-05  TERRES                         378
130          2024-02-05  TERRES                         257
131          2024-02-05  TERRES                         223

      Limon Fin (déc) (o/oo) g/kg    Limon Grossier (déc) (o/oo) g/kg   \
0                            189.0                               104.0
1                            123.0                               125.0
2                            116.0                               125.0
3                            135.0                               130.0
4                            135.0                               128.0
..                             ...                                 ...
127                          147.0                               135.0
128                          129.0                                86.0
129                          130.0                               121.0
130                          102.0                               129.0
131                          119.0                               110.0

      Sable Fin (déc) (o/oo) g/kg   ...   Azote total (o/oo) g/kg    C/N -   \
0                             91.3  ...                       2.30     13.9
1                            196.0  ...                       1.20     12.9
2                            245.0  ...                       1.70     12.1
3                            253.0  ...                       1.10     13.7
4                            253.0  ...                       1.00     13.2
..                             ...  ...                        ...      ...
127                          190.0  ...                       1.40     20.0
128                          178.0  ...                       1.20     17.8
129                          188.0  ...                       0.97     12.6
130                          272.0  ...                       1.40      7.8
131                          317.0  ...                       1.30      9.9

      P2O5 Olsen (o/oo) g/kg    Cu DTPA mg/kg    Zn DTPA mg/kg   \
0                       0.026             13.1              4.7
1                       0.057              5.6              2.9
2                       0.095              3.3              9.5
3                       0.027             16.4              3.2
4                       0.058             16.6              3.1
..                        ...              ...              ...
127                     0.026              7.6              3.2
128                     0.014              6.9              4.0
129                     0.028              5.0              2.5
130                     0.009              8.6              4.4
131                     0.017             12.4              1.8

      Ni DTPA mg/kg    Cu total ER (mg/Kg)    Ni total ER (mg/Kg)   \
0               0.37                   71.2                   26.2
1               0.89                   38.4                   79.6
2               0.69                   31.4                   61.3
3               0.26                   70.3                   29.1
4               0.16                   77.1                   33.6
..               ...                    ...                    ...
127             0.60                   24.4                   15.7
128             0.44                   34.7                   41.6
129             0.35                   14.2                    9.9
130             0.22                   29.5                   14.5
131             0.27                   44.1                   12.7

      Pb total ER (mg/Kg)    Zn total ER (mg/Kg)
0                     44.9                  109.0
1                     36.1                   91.4
2                     70.7                  122.0
3                     47.6                   77.0
4                     52.0                   85.5
..                     ...                    ...
127                   16.4                   35.1
128                   19.5                   47.1
129                    7.8                   21.4
130                   24.1                   41.9
131                   17.8                   28.9

[132 rows x 25 columns]

In [108]:
df[' Sable Grossier (déc) (o/oo) g/kg '].dtype

dtype('float64')

In [110]:
# Nombre de valeurs dans chaque colonne
for e in df.columns:
    print(str(e) + " : "+str(len(df[e].unique())))

N° Laboratoire : 132
Réf échantillon : 132
N° FR : 132
Exploitant - parcelle : 132
Date de prélèvement : 1
Nature : 1
 Argile (déc) (o/oo) g/kg  : 107
 Limon Fin (déc) (o/oo) g/kg  : 78
 Limon Grossier (déc) (o/oo) g/kg  : 90
 Sable Fin (déc) (o/oo) g/kg  : 90
 Sable Grossier (déc) (o/oo) g/kg  : 112
 pH eau -  : 10
 Carbonates totaux g/kg  : 117
 Carb. organique (o/oo) g/kg  : 112
 Matière organique (o/oo) g/kg  : 121
 Azote total (o/oo) g/kg  : 38
 C/N -  : 68
 P2O5 Olsen (o/oo) g/kg  : 67
 Cu DTPA mg/kg  : 98
 Zn DTPA mg/kg  : 78
 Ni DTPA mg/kg  : 52
 Cu total ER (mg/Kg)  : 122
 Ni total ER (mg/Kg)  : 96
 Pb total ER (mg/Kg)  : 110
 Zn total ER (mg/Kg)  : 116

In [112]:
# Valeurs des différentes colonnes
for e in df.columns:
    print(df[e].unique())

['T-02540-24' 'T-02541-24' 'T-02542-24' 'T-02543-24' 'T-02544-24'
 'T-02545-24' 'T-02546-24' 'T-02547-24' 'T-02548-24' 'T-02549-24'
 'T-02550-24' 'T-02551-24' 'T-02552-24' 'T-02553-24' 'T-02554-24'
 'T-02523-24' 'T-02524-24' 'T-02525-24' 'T-02526-24' 'T-02527-24'
 'T-02528-24' 'T-02529-24' 'T-02530-24' 'T-02531-24' 'T-02532-24'
 'T-02533-24' 'T-02534-24' 'T-02535-24' 'T-02536-24' 'T-02537-24'
 'T-02538-24' 'T-02539-24' 'T-02503-24' 'T-02504-24' 'T-02505-24'
 'T-02506-24' 'T-02507-24' 'T-02508-24' 'T-02509-24' 'T-02510-24'
 'T-02511-24' 'T-02512-24' 'T-02513-24' 'T-02514-24' 'T-02515-24'
 'T-02516-24' 'T-02517-24' 'T-02518-24' 'T-02519-24' 'T-02520-24'
 'T-02521-24' 'T-02522-24' 'T-02483-24' 'T-02484-24' 'T-02485-24'
 'T-02486-24' 'T-02487-24' 'T-02488-24' 'T-02489-24' 'T-02490-24'
 'T-02491-24' 'T-02492-24' 'T-02493-24' 'T-02494-24' 'T-02495-24'
 'T-02496-24' 'T-02497-24' 'T-02498-24' 'T-02499-24' 'T-02500-24'
 'T-02501-24' 'T-02502-24' 'T-02463-24' 'T-02464-24' 'T-02465-24'
 'T-02466-24' 'T-02467-24' 'T-02468-24' 'T-02469-24' 'T-02470-24'
 'T-02471-24' 'T-02472-24' 'T-02473-24' 'T-02474-24' 'T-02475-24'
 'T-02476-24' 'T-02477-24' 'T-02478-24' 'T-02479-24' 'T-02480-24'
 'T-02481-24' 'T-02482-24' 'T-02462-24' 'T-02443-24' 'T-02444-24'
 'T-02445-24' 'T-02446-24' 'T-02447-24' 'T-02448-24' 'T-02449-24'
 'T-02450-24' 'T-02451-24' 'T-02452-24' 'T-02453-24' 'T-02454-24'
 'T-02455-24' 'T-02456-24' 'T-02457-24' 'T-02458-24' 'T-02459-24'
 'T-02460-24' 'T-02461-24' 'T-02423-24' 'T-02424-24' 'T-02425-24'
 'T-02426-24' 'T-02427-24' 'T-02428-24' 'T-02429-24' 'T-02430-24'
 'T-02431-24' 'T-02432-24' 'T-02433-24' 'T-02434-24' 'T-02435-24'
 'T-02436-24' 'T-02437-24' 'T-02438-24' 'T-02439-24' 'T-02440-24'
 'T-02441-24' 'T-02442-24']
['EvEx_03Gal' 'EvEx_04Mou' 'EvEx_05Mou' 'EvEx_06Lou' 'EvEx_07Lou'
 'EvEx_08Cas' 'EvEx_09Cab' 'EvEx_10Sun' 'EvEx_11Dau' 'EspV_04Mou'
 'EvEx_11Sib' 'EvEx_12Sib' 'EvEx_13Hei' 'EvEx_15Aqu' 'EvEx_16EnsM'
 'EspV_06Mou' 'EspV_07Lou' 'EspV_08Rob' 'EspV_09Cas' 'EspV_10Cas'
 'EspV_11Cab' 'EspV_12Cab' 'EspV_13Cab' 'EspV_17Dau' 'EspV_18Dau'
 'CpPl_07Vol' 'EspV_19San' 'EspV_20EnsE' 'EspV_21EnsM' 'EspV_22EnsM'
 'EvEx_01Bou' 'EvEx_02Kur' 'CpPl_37Sib' 'CpPl_38Hei' 'CpPl_40Dic'
 'CpPl_41Dic' 'CpPl_42Dic' 'CpPl_45Pri' 'CpPl_46Pri' 'CpPl_47Pri'
 'CpPl_48Pri' 'CpPl_49San' 'CpPl_50EnsE' 'CpPl_51EnsE' 'EspV_14Dau'
 'EspV_15Dau' 'EspV_16Dau' 'EspV_19Dau' 'EspV_01Cam' 'EspV_02Cam'
 'EspV_03Cam' 'EspV_05Mou' 'CpPl_17Lou' 'CpPl_18Lou' 'CpPl_19Lou'
 'CpPl_20Lou' 'CpPl_21Lou' 'CpPl_22Lou' 'CpPl_23Lou' 'CpPl_24Rob'
 'CpPl_25Rob' 'CpPl_26Rob' 'CpPl_27Rob' 'CpPl_28Rob' 'CpPl_29Sun'
 'CpPl_30Sun' 'CpPl_31Sun' 'CpPl_32Sun' 'CpPl_33Sun' 'CpPl_34Jea'
 'CpPl_35Jea' 'CpPl_36Jea' 'CpUt_44San' 'CpUt_45EnsM' 'CpUt_46EnsM'
 'CpUt_47EnsE' 'CpUt_48EnsE' 'CpPl_01Bou' 'CpPl_02Bou' 'CpPl_03Bou'
 'CpPl_04Vol' 'CpPl_05Vol' 'CpPl_06Vol' 'CpPl_08Mer' 'CpPl_09Mer'
 'CpPl_10Mer' 'CpPl_11Kur' 'CpPl_12Kur' 'CpPl_13Kur' 'CpPl_14Kur'
 'CpPl_15Gal' 'CpPl_16Gal' 'CpUt_38Pri' 'CpUt_21Cab' 'CpUt_22Cab'
 'CpUt_25Dau' 'CpUt_26Dau' 'CpUt_27Sib' 'CpUt_28Sib' 'CpUt_29Hei'
 'CpUt_30Hei' 'CpUt_31Dic' 'CpUt_32Dic' 'CpUt_33Dic' 'CpUt_35Aqu'
 'CpUt_36Pri' 'CpUt_37Pri' 'CpUt_39San' 'CpUt_40San' 'CpUt_41San'
 'CpUt_42San' 'CpUt_43San' 'CpUt_01Bou' 'CpUt_02Bou' 'CpUt_03Bou'
 'CpUt_04Bou' 'CpUt_05Bou' 'CpUt_06Vol' 'CpUt_07Vol' 'CpUt_08Vol'
 'CpUt_09Mer' 'CpUt_10Mer' 'CpUt_11Kur' 'CpUt_12Lou' 'CpUt_13Lou'
 'CpUt_14Lou' 'CpUt_15Rob' 'CpUt_16Rob' 'CpUt_17Rob' 'CpUt_18Rob'
 'CpUt_19Sun' 'CpUt_20Cas']
['WW 848033' 'WW 848035' 'WW 848037' 'WW 848039' 'WW 848041' 'WW 848043'
 'WW 848045' 'WW 848047' 'WW 848049' 'WW 848051' 'WW 848053' 'WW 848055'
 'WW 848057' 'WW 848059' 'WW 848061' 'WW 847999' 'WW 848001' 'WW 848003'
 'WW 848005' 'WW 848007' 'WW 848009' 'WW 848011' 'WW 848013' 'WW 848015'
 'WW 848017' 'WW 848019' 'WW 848021' 'WW 848023' 'WW 848025' 'WW 848027'
 'WW 848029' 'WW 848031' 'WW 847959' 'WW 847961' 'WW 847963' 'WW 847965'
 'WW 847967' 'WW 847969' 'WW 847971' 'WW 847973' 'WW 847975' 'WW 847977'
 'WW 847979' 'WW 847981' 'WW 847983' 'WW 847985' 'WW 847987' 'WW 847989'
 'WW 847991' 'WW 847993' 'WW 847995' 'WW 847997' 'WW 847919' 'WW 847921'
 'WW 847923' 'WW 847925' 'WW 847927' 'WW 847929' 'WW 847931' 'WW 847933'
 'WW 847935' 'WW 847937' 'WW 847939' 'WW 847941' 'WW 847943' 'WW 847945'
 'WW 847947' 'WW 847949' 'WW 847951' 'WW 847953' 'WW 847955' 'WW 847957'
 'WW 847879' 'WW 847881' 'WW 847883' 'WW 847885' 'WW 847887' 'WW 847889'
 'WW 847891' 'WW 847893' 'WW 847895' 'WW 847897' 'WW 847899' 'WW 847901'
 'WW 847903' 'WW 847905' 'WW 847907' 'WW 847909' 'WW 847911' 'WW 847913'
 'WW 847915' 'WW 847917' 'WW 847877' 'WW 847839' 'WW 847841' 'WW 847843'
 'WW 847845' 'WW 847847' 'WW 847849' 'WW 847851' 'WW 847853' 'WW 847855'
 'WW 847857' 'WW 847859' 'WW 847861' 'WW 847863' 'WW 847865' 'WW 847867'
 'WW 847869' 'WW 847871' 'WW 847873' 'WW 847875' 'WW 847799' 'WW 847801'
 'WW 847803' 'WW 847805' 'WW 847807' 'WW 847809' 'WW 847811' 'WW 847813'
 'WW 847815' 'WW 847817' 'WW 847819' 'WW 847821' 'WW 847823' 'WW 847825'
 'WW 847827' 'WW 847829' 'WW 847831' 'WW 847833' 'WW 847835' 'WW 847837']
['UNIV PAUL VALERY EvEx_03Gal' 'UNIV PAUL VALERY EvEx_04Mou'
 'UNIV PAUL VALERY EvEx_05Mou' 'UNIV PAUL VALERY EvEx_06Lou'
 'UNIV PAUL VALERY EvEx_07Lou' 'UNIV PAUL VALERY EvEx_08Cas'
 'UNIV PAUL VALERY EvEx_09Cab' 'UNIV PAUL VALERY EvEx_10Sun'
 'UNIV PAUL VALERY EvEx_11Dau' 'UNIV PAUL VALERY EspV_04Mou'
 'UNIV PAUL VALERY EvEx_11Sib' 'UNIV PAUL VALERY EvEx_12Sib'
 'UNIV PAUL VALERY EvEx_13Hei' 'UNIV PAUL VALERY EvEx_15Aqu'
 'UNIV PAUL VALERY EvEx_16EnsM' 'UNIV PAUL VALERY EspV_06Mou'
 'UNIV PAUL VALERY EspV_07Lou' 'UNIV PAUL VALERY EspV_08Rob'
 'UNIV PAUL VALERY EspV_09Cas' 'UNIV PAUL VALERY EspV_10Cas'
 'UNIV PAUL VALERY EspV_11Cab' 'UNIV PAUL VALERY EspV_12Cab'
 'UNIV PAUL VALERY EspV_13Cab' 'UNIV PAUL VALERY EspV_17Dau'
 'UNIV PAUL VALERY EspV_18Dau' 'UNIV PAUL VALERY CpPl_07Vol'
 'UNIV PAUL VALERY EspV_19San' 'UNIV PAUL VALERY EspV_20EnsE'
 'UNIV PAUL VALERY EspV_21EnsM' 'UNIV PAUL VALERY EspV_22EnsM'
 'UNIV PAUL VALERY EvEx_01Bou' 'UNIV PAUL VALERY EvEx_02Kur'
 'UNIV PAUL VALERY CpPl_37Sib' 'UNIV PAUL VALERY CpPl_38Hei'
 'UNIV PAUL VALERY CpPl_40Dic' 'UNIV PAUL VALERY CpPl_41Dic'
 'UNIV PAUL VALERY CpPl_42Dic' 'UNIV PAUL VALERY CpPl_45Pri'
 'UNIV PAUL VALERY CpPl_46Pri' 'UNIV PAUL VALERY CpPl_47Pri'
 'UNIV PAUL VALERY CpPl_48Pri' 'UNIV PAUL VALERY CpPl_49San'
 'UNIV PAUL VALERY CpPl_50EnsE' 'UNIV PAUL VALERY CpPl_51EnsE'
 'UNIV PAUL VALERY EspV_14Dau' 'UNIV PAUL VALERY EspV_15Dau'
 'UNIV PAUL VALERY EspV_16Dau' 'UNIV PAUL VALERY EspV_19Dau'
 'UNIV PAUL VALERY EspV_01Cam' 'UNIV PAUL VALERY EspV_02Cam'
 'UNIV PAUL VALERY EspV_03Cam' 'UNIV PAUL VALERY EspV_05Mou'
 'UNIV PAUL VALERY CpPl_17Lou' 'UNIV PAUL VALERY CpPl_18Lou'
 'UNIV PAUL VALERY CpPl_19Lou' 'UNIV PAUL VALERY CpPl_20Lou'
 'UNIV PAUL VALERY CpPl_21Lou' 'UNIV PAUL VALERY CpPl_22Lou'
 'UNIV PAUL VALERY CpPl_23Lou' 'UNIV PAUL VALERY CpPl_24Rob'
 'UNIV PAUL VALERY CpPl_25Rob' 'UNIV PAUL VALERY CpPl_26Rob'
 'UNIV PAUL VALERY CpPl_27Rob' 'UNIV PAUL VALERY CpPl_28Rob'
 'UNIV PAUL VALERY CpPl_29Sun' 'UNIV PAUL VALERY CpPl_30Sun'
 'UNIV PAUL VALERY CpPl_31Sun' 'UNIV PAUL VALERY CpPl_32Sun'
 'UNIV PAUL VALERY CpPl_33Sun' 'UNIV PAUL VALERY CpPl_34Jea'
 'UNIV PAUL VALERY CpPl_35Jea' 'UNIV PAUL VALERY CpPl_36Jea'
 'UNIV PAUL VALERY CpUt_44San' 'UNIV PAUL VALERY CpUt_45EnsM'
 'UNIV PAUL VALERY CpUt_46EnsM' 'UNIV PAUL VALERY CpUt_47EnsE'
 'UNIV PAUL VALERY CpUt_48EnsE' 'UNIV PAUL VALERY CpPl_01Bou'
 'UNIV PAUL VALERY CpPl_02Bou' 'UNIV PAUL VALERY CpPl_03Bou'
 'UNIV PAUL VALERY CpPl_04Vol' 'UNIV PAUL VALERY CpPl_05Vol'
 'UNIV PAUL VALERY CpPl_06Vol' 'UNIV PAUL VALERY CpPl_08Mer'
 'UNIV PAUL VALERY CpPl_09Mer' 'UNIV PAUL VALERY CpPl_10Mer'
 'UNIV PAUL VALERY CpPl_11Kur' 'UNIV PAUL VALERY CpPl_12Kur'
 'UNIV PAUL VALERY CpPl_13Kur' 'UNIV PAUL VALERY CpPl_14Kur'
 'UNIV PAUL VALERY CpPl_15Gal' 'UNIV PAUL VALERY CpPl_16Gal'
 'UNIV PAUL VALERY CpUt_38Pri' 'UNIV PAUL VALERY CpUt_21Cab'
 'UNIV PAUL VALERY CpUt_22Cab' 'UNIV PAUL VALERY CpUt_25Dau'
 'UNIV PAUL VALERY CpUt_26Dau' 'UNIV PAUL VALERY CpUt_27Sib'
 'UNIV PAUL VALERY CpUt_28Sib' 'UNIV PAUL VALERY CpUt_29Hei'
 'UNIV PAUL VALERY CpUt_30Hei' 'UNIV PAUL VALERY CpUt_31Dic'
 'UNIV PAUL VALERY CpUt_32Dic' 'UNIV PAUL VALERY CpUt_33Dic'
 'UNIV PAUL VALERY CpUt_35Aqu' 'UNIV PAUL VALERY CpUt_36Pri'
 'UNIV PAUL VALERY CpUt_37Pri' 'UNIV PAUL VALERY CpUt_39San'
 'UNIV PAUL VALERY CpUt_40San' 'UNIV PAUL VALERY CpUt_41San'
 'UNIV PAUL VALERY CpUt_42San' 'UNIV PAUL VALERY CpUt_43San'
 'UNIV PAUL VALERY CpUt_01Bou' 'UNIV PAUL VALERY CpUt_02Bou'
 'UNIV PAUL VALERY CpUt_03Bou' 'UNIV PAUL VALERY CpUt_04Bou'
 'UNIV PAUL VALERY CpUt_05Bou' 'UNIV PAUL VALERY CpUt_06Vol'
 'UNIV PAUL VALERY CpUt_07Vol' 'UNIV PAUL VALERY CpUt_08Vol'
 'UNIV PAUL VALERY CpUt_09Mer' 'UNIV PAUL VALERY CpUt_10Mer'
 'UNIV PAUL VALERY CpUt_11Kur' 'UNIV PAUL VALERY CpUt_12Lou'
 'UNIV PAUL VALERY CpUt_13Lou' 'UNIV PAUL VALERY CpUt_14Lou'
 'UNIV PAUL VALERY CpUt_15Rob' 'UNIV PAUL VALERY CpUt_16Rob'
 'UNIV PAUL VALERY CpUt_17Rob' 'UNIV PAUL VALERY CpUt_18Rob'
 'UNIV PAUL VALERY CpUt_19Sun' 'UNIV PAUL VALERY CpUt_20Cas']
<DatetimeArray>
['2024-02-05 00:00:00']
Length: 1, dtype: datetime64[ns]
['TERRES']
[557 362 205 405 431 231 266 280 284 369 356 301 309 376 329 255 330 359
 377 340 326 307 360 392 363 333 380 465 413 212 238 198 258 439 447 449
 315 297 368 223 268 285 294 351 331 327 341 306 343 349 347 317 262 300
 403 386 390 249 289 323 310 346 324 172 167 149 193 254 126 339 352 373
 401 400 382 379 414 421 250 232 203 206 220 216 433 437 420 371 305 245
 183 153 357 488 302 338 247 128 364 325 381 361 438 316 314 378 257]
[189.  123.  116.  135.   80.   98.4 101.  138.  131.  143.  139.  141.
 120.  152.  171.   75.4  97.3 118.  125.  106.  114.  103.  121.  147.
 128.  142.  145.   96.3 107.   99.4 154.  117.  153.  158.  157.  179.
 144.  170.  175.   88.2 122.  126.  133.  149.  183.  129.  112.  140.
 162.  185.  173.  115.  132.   65.4 155.  148.  164.  136.  291.  160.
 172.   94.7  83.2  97.6  85.6  87.   99.  199.  180.  151.  130.  119.
  71.5  58.7 134.  150.  165.  102. ]
[104.  125.  130.  128.  113.  101.  137.  153.  151.  155.  241.  108.
 140.  162.  133.  152.  161.  150.  126.  139.  111.  205.  147.  184.
 115.  102.  109.  149.  129.   93.7 107.  174.  181.   96.9  99.8  67.4
  86.8  72.  100.  136.  138.  168.  119.  145.  146.  144.  166.  159.
 148.   91.2 123.  142.  158.  170.   94.2  89.2  83.7  81.4  96.  106.
  65.4 112.  124.   99.2 243.  183.  191.  207.   98.   86.4  97.3 117.
 121.  141.  134.  165.   55.8  69.2  87.5  94.5  59.6  98.5  95.2  97.8
 122.   83.3 131.  135.   86.  110. ]
[ 91.3 196.  245.  253.  316.  269.  277.  212.  186.  224.  232.  205.
 198.  233.  225.  174.  305.  237.  195.  203.  250.  256.  273.  187.
 193.  191.  147.  206.  188.  230.  184.  200.  240.  219.  137.  146.
 144.  236.  158.  182.  257.  283.  179.  169.  168.  208.  189.  209.
 210.  194.  192.  199.  251.  249.  163.  175.  261.  279.  159.  140.
 165.  152.  162.  170.  172.   85.4 145.  327.  274.  405.  351.  350.
 217.  183.  173.  297.  244.  448.  142.  143.  128.   62.4 220.  300.
 234.  228.  190.  178.  272.  317. ]
[ 58.8 194.  309.   77.6  54.  260.  266.  206.  180.  248.  152.  127.
 207.  105.  133.  211.  114.  118.  234.  203.  176.  136.  179.  153.
 191.  189.  184.   99.7  95.7 117.  132.  134.  393.  316.  415.  137.
 257.  107.  173.  139.  146.  165.  198.  102.  335.  228.  348.  379.
 363.  169.  196.  250.  188.  145.  138.  182.  225.  108.  135.  291.
 246.  314.  125.  141.  159.  466.  485.  524.  435.  430.  330.  591.
 155.  162.  201.  144.  151.    5.   92.1  55.5  80.1 350.  411.  453.
 323.  187.  249.  216.  297.   87.8  40.8  93.2 160.   72.5 170.  465.
 460.  509.  289.  319.  278.  210.  232.  565.   74.2 113.  130.  110.
 293.  183.  241.  231. ]
[8.3 8.1 8.5 8.4 8.2 8.  8.7 8.6 8.8 7.9]
[225.  101.   94.4 207.  156.  250.  221.  213.  317.   83.9 546.  442.
 162.  118.  378.  257.  358.  202.  210.  205.  217.  229.  434.  384.
  48.5 344.  341.  323.  360.  267.  334.  281.  607.  179.  473.  475.
 488.  231.  273.  256.  150.  174.  247.  235.  129.  136.  140.  128.
 333.  339.  314.  306.  321.  320.  374.  354.  348.  398.  428.  155.
 324.  226.  220.  198.  311.  365.  296.  430.  375.  395.  582.  193.
 171.  164.  233.  289.  421.  403.  417.  528.  477.  480.  509.  529.
 581.  397.  272.  264.  261.  252.  357.  298.  563.  569.  485.  502.
 312.  327.  214.  393.  206.  181.  738.  898.  394.  446.  315.  356.
 244.  539.  238.  367.  707.  494.  433.  730.  349. ]
[31.6 16.1 21.1 15.1 13.2 19.8 19.3 25.4 30.4 12.  37.2 40.3 55.4 27.
 22.2 18.7 17.3 19.  17.  15.4 15.2 18.5 19.6 15.  18.  26.4 34.5 16.3
 23.5 35.6 24.8 17.9 21.6 18.8 27.4 28.5 43.8 43.4 33.4 15.3 19.5 14.
 15.5 14.3 10.8 21.2 21.4 31.1 19.4 17.5 20.  23.2 12.5 17.2  8.2 52.4
 24.2 26.7 16.  24.9 33.  31.2 16.4 12.6 18.9 10.2 17.8 24.6 16.7 34.6
 30.3 28.2 39.4 47.  42.4 39.1 46.1 30.2  6.5 20.3 11.9  9.  10.5 18.6
 21.9 17.6 22.1 24.7 16.9 15.6 20.6 18.4  9.2 29.8 13.  11.7 41.9 25.8
 20.5 20.7 13.4 27.5 34.8 30.9 23.9 43.6 35.9 14.2 22.9 12.1 10.7 12.7]
[54.6 27.9 36.5 26.1 22.8 34.3 33.3 43.9 52.6 20.7 64.4 69.7 95.8 46.7
 38.3 32.4 29.9 32.8 29.4 26.6 26.3 31.9 33.9 25.9 31.1 45.6 59.7 28.2
 40.7 61.6 42.9 31.  37.4 32.6 47.5 49.4 75.8 75.1 64.3 57.7 26.4 33.7
 24.2 26.7 31.2 27.8 24.7 18.6 36.7 37.1 53.7 38.4 33.5 30.3 34.6 33.
 36.6 40.2 21.7 29.7 14.3 90.6 41.9 46.2 27.7 43.  57.1 54.  28.4 21.8
 32.7 17.6 30.7 42.5 34.7 32.9 28.9 59.9 52.4 48.8 68.2 81.4 73.4 67.6
 79.8 52.2 11.3 35.1 20.6 15.6 18.2 32.2 37.8 30.4 42.8 29.3 26.9 35.7
 31.8 15.9 51.5 22.5 20.2 72.5 44.7 35.5 35.9 23.2 60.2 51.6 53.4 41.4
 75.4 62.  24.6 39.6 47.4 37.  21.  18.5 22. ]
[2.3  1.2  1.7  1.1  1.   1.5  1.4  2.2  0.85 2.1  5.   1.8  1.3  2.
 2.4  1.6  1.9  3.4  0.95 0.78 0.65 2.5  2.6  3.   2.8  3.7  3.6  4.1
 4.   0.69 0.88 0.67 0.81 0.71 0.73 2.9  0.86 0.97]
[13.9 12.9 12.1 13.7 13.2 13.  14.7 14.1 17.8 17.6 11.1 12.7 12.3 17.2
 14.  13.6 12.6 13.8 12.8 16.8 13.3 14.2 13.5 14.3 15.3 14.6 11.8 10.9
 14.8 13.1 17.9 18.9 16.3 14.5 12.4 16.  15.  10.6 18.6 15.6 11.9  9.3
  8.9  8.6 11.2 15.5 12.  11.6 10.8 10.1 10.2 10.7 10.4 10.5  9.4 13.4
  7.5  8.1 11.5 12.5  9.7 33.7 18.4 20.  16.2 17.4  7.8  9.9]
[0.026 0.057 0.095 0.027 0.058 0.032 0.023 0.022 0.12  0.034 0.019 0.041
 0.16  0.029 0.038 0.031 0.039 0.049 0.028 0.025 0.02  0.15  0.053 0.05
 0.067 0.045 0.046 0.35  0.13  0.11  0.054 0.17  0.018 0.072 0.055 0.043
 0.048 0.051 0.068 0.062 0.01  0.03  0.094 0.084 0.011 0.076 0.04  0.061
 0.093 0.077 0.22  0.099 0.006 0.014 0.033 0.047 0.016 0.044 0.064 0.012
 0.071 0.065 0.19  0.079 0.015 0.009 0.017]
[13.1   5.6   3.3  16.4  16.6  12.7  18.2   4.1   6.8   6.1   7.3  24.9
  9.4  13.8  12.1   7.2  14.7  18.3  19.2  20.4  19.9  19.3  18.7   8.8
  8.2  29.5  14.3  17.7  12.   12.5  14.4  14.2  20.6  17.3  10.2   8.3
 12.6  24.5  12.8  26.   16.3  17.1   4.6   4.5   5.   12.4   9.8  11.3
 15.1  15.3   9.5  10.3  12.3  13.4  37.2  37.1  44.6  15.6   8.9   8.6
 10.5  11.2   7.4  17.9  19.5  21.7  19.   11.5  11.   10.7   9.6   5.2
  6.5   5.7   7.8  19.6  25.5   4.8   1.3  14.1  10.4  13.5  23.    4.
  1.8  23.4   6.6  16.7   1.7   6.9  13.9   0.52  6.4  13.3   9.2   3.2
  4.9   7.6 ]
[ 4.7  2.9  9.5  3.2  3.1  3.   2.2  8.9  7.   2.7 11.6 23.2 15.3  4.9
  2.4  2.3  2.   1.7  2.1  2.8 16.7  9.2  3.7  2.6  6.  15.   5.5  8.1
  6.3 14.7 11.8 13.1 11.9 12.4  5.4  6.7  1.8  1.6  3.3  4.6  3.8  3.9
  4.1  3.4  6.2  8.2  3.6  4.8  7.8  5.8  4.4 10.4 12.1  9.3 11.3 11.2
 13.4 12.7 13.6 12.3  1.   1.4  5.1  6.1  5.   5.7 52.2  8.6  4.   9.
  1.5  9.1 10.3 15.6 12.2 13.7  5.2  2.5]
[0.37 0.89 0.69 0.26 0.16 0.4  0.34 0.3  0.65 0.47 0.43 0.18 0.27 0.24
 0.21 0.25 0.2  0.19 0.58 0.95 0.56 0.29 0.41 0.39 0.28 0.31 0.51 0.53
 0.55 0.5  0.32 0.36 0.59 0.54 0.35 0.62 0.22 0.14 0.46 0.49 0.44 0.45
 0.57 0.15 0.23 0.48 0.38 0.33 0.13 0.73 0.67 0.6 ]
[ 71.2  38.4  31.4  70.3  77.1  47.9  65.2  73.4  62.2  36.2  32.3  33.2
  68.9 107.   43.4  68.3  50.2  29.1  56.2  72.9  80.   76.7  78.5  79.2
  74.4  72.6  35.1  82.3  51.8  49.   60.   43.1  40.1  44.7  45.2  92.7
  74.8  35.5  38.9  37.8  64.2  77.9  44.8  94.5 101.   59.3  58.5  37.3
  39.5  62.9  40.3  42.5  50.   53.2  41.2  43.   37.9  38.7  31.2  41.5
  58.6  60.6 128.  130.  155.   61.3  42.   43.5  50.6  37.7  40.8  35.4
  58.7  54.4  57.8  52.1  53.6  46.1  17.1  54.5  46.5  38.5  28.4  39.
  38.6  31.7  34.5  10.2  91.4  25.7   9.9  32.   41.1  34.2  90.2  41.8
  67.4  30.2  11.5  71.7  32.9  62.5  47.2  77.4  30.4  61.4  66.4  19.7
   4.5  33.9  47.6  47.3  17.7  35.2  54.3  39.6  30.7  24.4  34.7  14.2
  29.5  44.1]
[ 26.2  79.6  61.3  29.1  33.6  13.4  15.7  17.1  19.1  77.3  12.3  14.3
  23.   21.1  23.5  37.5  21.8  16.7  15.8  18.1  25.8  20.3  18.4  18.2
  16.2  17.9  16.5  19.7  19.3  14.9  13.1   8.6  17.8  22.   19.5  24.9
  19.   18.6  21.9  23.6  20.2  15.4 107.  106.   98.4  39.   18.5  17.
  18.3  20.4  22.2  18.8  21.2  17.4  17.5  17.6  15.3  25.5  26.5  28.3
  16.3  19.2  20.6  20.5  13.6  15.1  16.6   9.9  18.9  16.   17.7  21.4
  21.   34.4  13.2  12.   12.5  13.7  11.9  12.6  23.7  24.2  28.4  14.6
  11.3  10.1  14.1  16.1  16.8  16.9  24.1  22.7  22.1  41.6  14.5  12.7]
[ 44.9  36.1  70.7  47.6  52.   24.7  29.9  33.4  32.3  73.5  51.1  39.2
  34.   52.8  26.9  40.1  37.4  19.8  27.5  30.1  30.6  35.6  29.8  28.7
  30.7  59.9  45.2  39.   36.9  34.4  68.   63.4  61.5  58.   20.4  33.8
  56.   21.3  25.6  38.2  27.4  29.3  36.   32.6  26.4  28.5  21.4  21.5
  37.2  24.   25.4  31.5  31.1  23.8  24.2  22.3  34.9  21.1  23.3  46.2
  67.3  67.2  76.   26.8 258.   26.   19.5  17.2  38.9  32.2  31.6  27.6
  18.5  60.1  97.2  28.6  30.2  27.3  12.7  11.4  23.6  50.   49.   44.1
  60.8  51.8  59.2  74.1 102.   19.   11.1  63.   31.7  89.5 135.   45.9
  17.9  23.7  20.1   4.2  27.2  16.1  28.3  20.3  23.9  12.2  16.4   7.8
  24.1  17.8]
[109.   91.4 122.   77.   85.5  47.1  47.8  77.6  82.3 108.   75.1  97.6
 118.   69.5  67.7  76.7  52.9  37.9  41.9  45.6  50.9  45.9  42.2  45.3
  98.3  54.9  64.7  43.5  43.8  64.6  73.7  71.5  91.8  36.3  69.1  88.4
  52.5  53.7  62.7  65.9  58.   43.   51.1  53.8  36.1  39.   67.   68.3
  75.7  56.5  58.5  57.7  60.4  64.5  57.1  57.5  50.3  53.3  62.5  53.5
  54.5  55.8  71.   75.3  73.9  77.7  58.2  67.1  66.2  51.   54.2  39.8
  42.5  54.6  49.4  51.9  63.3  56.3  69.2  38.4  96.8  74.3  75.2  73.2
 126.   76.5  71.6  36.8  45.1  56.6  30.6  37.7  52.3  52.1  48.8  41.8
  42.7  26.4 251.   54.1 114.   40.2  49.9  42.8  60.9  33.5  48.1  64.
  57.4  34.7  69.3  59.5  48.4  35.1  21.4  28.9]

In [114]:
# Statistiques des données
df.describe()

,Date de prélèvement,Argile (déc) (o/oo) g/kg,Limon Fin (déc) (o/oo) g/kg,Limon Grossier (déc) (o/oo) g/kg,Sable Fin (déc) (o/oo) g/kg,Sable Grossier (déc) (o/oo) g/kg,pH eau -,Carbonates totaux g/kg,Carb. organique (o/oo) g/kg,Matière organique (o/oo) g/kg,Azote total (o/oo) g/kg,C/N -,P2O5 Olsen (o/oo) g/kg,Cu DTPA mg/kg,Zn DTPA mg/kg,Ni DTPA mg/kg,Cu total ER (mg/Kg),Ni total ER (mg/Kg),Pb total ER (mg/Kg),Zn total ER (mg/Kg)
count,132,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000
mean,2024-02-05 00:00:00,319.568182,134.406818,127.160606,206.993182,212.280303,8.408333,326.309091,22.867424,39.557576,1.747348,13.371970,0.057318,12.696364,6.068939,0.375379,50.782576,21.928030,37.327273,61.361364
min,2024-02-05 00:00:00,126.000000,58.700000,55.800000,62.400000,5.000000,7.900000,48.500000,6.500000,11.300000,0.650000,7.500000,0.006000,0.520000,1.000000,0.130000,4.500000,8.600000,4.200000,21.400000
25%,2024-02-05 00:00:00,257.750000,117.750000,102.000000,172.750000,133.000000,8.300000,217.000000,16.075000,27.775000,1.200000,11.800000,0.025750,7.750000,2.800000,0.250000,36.025000,15.700000,23.800000,47.100000
50%,2024-02-05 00:00:00,329.500000,135.500000,125.500000,194.500000,182.000000,8.400000,318.500000,20.150000,34.900000,1.600000,13.250000,0.044500,12.200000,3.950000,0.350000,44.750000,18.100000,30.100000,56.550000
75%,2024-02-05 00:00:00,371.500000,152.000000,149.000000,234.500000,257.750000,8.500000,397.250000,27.675000,47.825000,2.100000,14.300000,0.068750,16.400000,8.125000,0.482500,62.275000,21.800000,44.300000,69.350000
max,2024-02-05 00:00:00,557.000000,291.000000,243.000000,448.000000,591.000000,8.800000,898.000000,55.400000,95.800000,5.000000,33.700000,0.350000,44.600000,52.200000,0.950000,155.000000,107.000000,258.000000,251.000000
std,NaN,79.256680,30.282311,32.942485,57.422846,117.001295,0.162068,147.659568,9.776288,16.913855,0.779866,3.033183,0.049418,7.141311,5.801423,0.162478,23.621453,15.937058,27.659724,25.772293

## 3) Nettoyage des données

#### Doublons

In [118]:
# Nombre de doublon dans le dataframe
df.duplicated().sum()

0

In [120]:
# Ligne des doublons
df[df.duplicated()]

Empty DataFrame
Columns: [N° Laboratoire, Réf échantillon, N° FR, Exploitant - parcelle, Date de prélèvement, Nature,  Argile (déc) (o/oo) g/kg ,  Limon Fin (déc) (o/oo) g/kg ,  Limon Grossier (déc) (o/oo) g/kg ,  Sable Fin (déc) (o/oo) g/kg ,  Sable Grossier (déc) (o/oo) g/kg ,  pH eau - ,  Carbonates totaux g/kg ,  Carb. organique (o/oo) g/kg ,  Matière organique (o/oo) g/kg ,  Azote total (o/oo) g/kg ,  C/N - ,  P2O5 Olsen (o/oo) g/kg ,  Cu DTPA mg/kg ,  Zn DTPA mg/kg ,  Ni DTPA mg/kg ,  Cu total ER (mg/Kg) ,  Ni total ER (mg/Kg) ,  Pb total ER (mg/Kg) ,  Zn total ER (mg/Kg) ]
Index: []

[0 rows x 25 columns]

#### Valeur manquante

In [123]:
df.isna().sum()

N° Laboratoire                        0
Réf échantillon                       0
N° FR                                 0
Exploitant - parcelle                 0
Date de prélèvement                   0
Nature                                0
 Argile (déc) (o/oo) g/kg             0
 Limon Fin (déc) (o/oo) g/kg          0
 Limon Grossier (déc) (o/oo) g/kg     0
 Sable Fin (déc) (o/oo) g/kg          0
 Sable Grossier (déc) (o/oo) g/kg     0
 pH eau -                             0
 Carbonates totaux g/kg               0
 Carb. organique (o/oo) g/kg          0
 Matière organique (o/oo) g/kg        0
 Azote total (o/oo) g/kg              0
 C/N -                                0
 P2O5 Olsen (o/oo) g/kg               0
 Cu DTPA mg/kg                        0
 Zn DTPA mg/kg                        0
 Ni DTPA mg/kg                        0
 Cu total ER (mg/Kg)                  0
 Ni total ER (mg/Kg)                  0
 Pb total ER (mg/Kg)                  0
 Zn total ER (mg/Kg)                  0
dtype: int64

In [125]:
df.Nature.unique()

array(['TERRES'], dtype=object)

#### Modifications des lignes ou colonnes

In [128]:
df.columns

Index(['N° Laboratoire', 'Réf échantillon', 'N° FR', 'Exploitant - parcelle',
       'Date de prélèvement', 'Nature', ' Argile (déc) (o/oo) g/kg ',
       ' Limon Fin (déc) (o/oo) g/kg ', ' Limon Grossier (déc) (o/oo) g/kg ',
       ' Sable Fin (déc) (o/oo) g/kg ', ' Sable Grossier (déc) (o/oo) g/kg ',
       ' pH eau - ', ' Carbonates totaux g/kg ',
       ' Carb. organique (o/oo) g/kg ', ' Matière organique (o/oo) g/kg ',
       ' Azote total (o/oo) g/kg ', ' C/N - ', ' P2O5 Olsen (o/oo) g/kg ',
       ' Cu DTPA mg/kg ', ' Zn DTPA mg/kg ', ' Ni DTPA mg/kg ',
       ' Cu total ER (mg/Kg) ', ' Ni total ER (mg/Kg) ',
       ' Pb total ER (mg/Kg) ', ' Zn total ER (mg/Kg) '],
      dtype='object')

In [130]:
# Supprimer des colonnes

df.drop(columns = "Nature",inplace = True)
df.drop(columns = "Date de prélèvement",inplace = True)
df.drop(columns = "Exploitant - parcelle",inplace = True)

In [133]:
df.head()

,N° Laboratoire,Réf échantillon,N° FR,Argile (déc) (o/oo) g/kg,Limon Fin (déc) (o/oo) g/kg,Limon Grossier (déc) (o/oo) g/kg,Sable Fin (déc) (o/oo) g/kg,Sable Grossier (déc) (o/oo) g/kg,pH eau -,Carbonates totaux g/kg,...,Azote total (o/oo) g/kg,C/N -,P2O5 Olsen (o/oo) g/kg,Cu DTPA mg/kg,Zn DTPA mg/kg,Ni DTPA mg/kg,Cu total ER (mg/Kg),Ni total ER (mg/Kg),Pb total ER (mg/Kg),Zn total ER (mg/Kg)
0,T-02540-24,EvEx_03Gal,WW 848033,557,189.0,104.0,91.3,58.8,8.3,225.0,...,2.3,13.9,0.026,13.1,4.7,0.37,71.2,26.2,44.9,109.0
1,T-02541-24,EvEx_04Mou,WW 848035,362,123.0,125.0,196.0,194.0,8.3,101.0,...,1.2,12.9,0.057,5.6,2.9,0.89,38.4,79.6,36.1,91.4
2,T-02542-24,EvEx_05Mou,WW 848037,205,116.0,125.0,245.0,309.0,8.1,94.4,...,1.7,12.1,0.095,3.3,9.5,0.69,31.4,61.3,70.7,122.0
3,T-02543-24,EvEx_06Lou,WW 848039,405,135.0,130.0,253.0,77.6,8.5,207.0,...,1.1,13.7,0.027,16.4,3.2,0.26,70.3,29.1,47.6,77.0
4,T-02544-24,EvEx_07Lou,WW 848041,431,135.0,128.0,253.0,54.0,8.4,156.0,...,1.0,13.2,0.058,16.6,3.1,0.16,77.1,33.6,52.0,85.5

In [135]:
df.to_excel('analyse_de_terre.xlsx', index=False)