# Titre docuement

## 1) Importation des modules

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
#Importation du dataset
df =  pd.read_excel("analyse de terre.xlsx", )

#Modification sur excel pour reliée les différentes données car séparation de lignes avec des dossiers

FileNotFoundError: [Errno 2] No such file or directory: 'analyse de terre.xlsx'

## 2) Exploration des données

In [ ]:
# Affiche le nombre de colonnes et lignes
df.shape

In [ ]:
# Affiche les 5 premières lignes
df.head()

In [ ]:
# Nom des colonnes
df.columns

In [ ]:
# Type des données
df.dtypes

In [11]:
df[' Sable Grossier (déc) (o/oo) g/kg '].value_counts()

NameError: name 'df' is not defined

In [13]:
# Fonction pour nettoyer les données et les convertir en float
def convertir_ou_remplacer(val):
    # Convertir chaque valeur en chaîne pour éviter des erreurs de type
    val_str = str(val)
    try:
        # Retirer les symboles comme "<" ou ">", puis convertir en float
        if '<' in val_str:
            # Si on trouve un symbole "<", on prend la valeur numérique après et la transforme en float
            return float(val_str.replace('<', '').strip())
        return float(val_str)  # Tenter une conversion directe
    except ValueError:
        return None  # Si ce n'est pas convertible, remplacer par NaN ou None

# Appliquer la fonction pour convertir ou remplacer les valeurs problématiques
df[' Sable Grossier (déc) (o/oo) g/kg '] = df[' Sable Grossier (déc) (o/oo) g/kg '].apply(convertir_ou_remplacer)

# Afficher le DataFrame après traitement
print(df)

NameError: name 'df' is not defined

In [15]:
df[' Sable Grossier (déc) (o/oo) g/kg '].dtype

NameError: name 'df' is not defined

In [17]:
# Nombre de valeurs dans chaque colonne
for e in df.columns:
    print(str(e) + " : "+str(len(df[e].unique())))

NameError: name 'df' is not defined

In [19]:
# Valeurs des différentes colonnes
for e in df.columns:
    print(df[e].unique())

NameError: name 'df' is not defined

In [21]:
# Statistiques des données
df.describe()

NameError: name 'df' is not defined

## 3) Nettoyage des données

#### Doublons

In [118]:
# Nombre de doublon dans le dataframe
df.duplicated().sum()

0

In [120]:
# Ligne des doublons
df[df.duplicated()]

Empty DataFrame
Columns: [N° Laboratoire, Réf échantillon, N° FR, Exploitant - parcelle, Date de prélèvement, Nature,  Argile (déc) (o/oo) g/kg ,  Limon Fin (déc) (o/oo) g/kg ,  Limon Grossier (déc) (o/oo) g/kg ,  Sable Fin (déc) (o/oo) g/kg ,  Sable Grossier (déc) (o/oo) g/kg ,  pH eau - ,  Carbonates totaux g/kg ,  Carb. organique (o/oo) g/kg ,  Matière organique (o/oo) g/kg ,  Azote total (o/oo) g/kg ,  C/N - ,  P2O5 Olsen (o/oo) g/kg ,  Cu DTPA mg/kg ,  Zn DTPA mg/kg ,  Ni DTPA mg/kg ,  Cu total ER (mg/Kg) ,  Ni total ER (mg/Kg) ,  Pb total ER (mg/Kg) ,  Zn total ER (mg/Kg) ]
Index: []

[0 rows x 25 columns]

#### Valeur manquante

In [123]:
df.isna().sum()

N° Laboratoire                        0
Réf échantillon                       0
N° FR                                 0
Exploitant - parcelle                 0
Date de prélèvement                   0
Nature                                0
 Argile (déc) (o/oo) g/kg             0
 Limon Fin (déc) (o/oo) g/kg          0
 Limon Grossier (déc) (o/oo) g/kg     0
 Sable Fin (déc) (o/oo) g/kg          0
 Sable Grossier (déc) (o/oo) g/kg     0
 pH eau -                             0
 Carbonates totaux g/kg               0
 Carb. organique (o/oo) g/kg          0
 Matière organique (o/oo) g/kg        0
 Azote total (o/oo) g/kg              0
 C/N -                                0
 P2O5 Olsen (o/oo) g/kg               0
 Cu DTPA mg/kg                        0
 Zn DTPA mg/kg                        0
 Ni DTPA mg/kg                        0
 Cu total ER (mg/Kg)                  0
 Ni total ER (mg/Kg)                  0
 Pb total ER (mg/Kg)                  0
 Zn total ER (mg/Kg)                  0
dtype: int64

In [2]:
df.Nature.unique(), df["Date de prélèvement"].unique(), df["Exploitant - parcelle"].unique()

NameError: name 'df' is not defined

#### Modifications des lignes ou colonnes

In [128]:
df.columns

Index(['N° Laboratoire', 'Réf échantillon', 'N° FR', 'Exploitant - parcelle',
       'Date de prélèvement', 'Nature', ' Argile (déc) (o/oo) g/kg ',
       ' Limon Fin (déc) (o/oo) g/kg ', ' Limon Grossier (déc) (o/oo) g/kg ',
       ' Sable Fin (déc) (o/oo) g/kg ', ' Sable Grossier (déc) (o/oo) g/kg ',
       ' pH eau - ', ' Carbonates totaux g/kg ',
       ' Carb. organique (o/oo) g/kg ', ' Matière organique (o/oo) g/kg ',
       ' Azote total (o/oo) g/kg ', ' C/N - ', ' P2O5 Olsen (o/oo) g/kg ',
       ' Cu DTPA mg/kg ', ' Zn DTPA mg/kg ', ' Ni DTPA mg/kg ',
       ' Cu total ER (mg/Kg) ', ' Ni total ER (mg/Kg) ',
       ' Pb total ER (mg/Kg) ', ' Zn total ER (mg/Kg) '],
      dtype='object')

In [130]:
# Supprimer des colonnes

df.drop(columns = "Nature",inplace = True)
df.drop(columns = "Date de prélèvement",inplace = True)
df.drop(columns = "Exploitant - parcelle",inplace = True)

In [133]:
df.head()

,N° Laboratoire,Réf échantillon,N° FR,Argile (déc) (o/oo) g/kg,Limon Fin (déc) (o/oo) g/kg,Limon Grossier (déc) (o/oo) g/kg,Sable Fin (déc) (o/oo) g/kg,Sable Grossier (déc) (o/oo) g/kg,pH eau -,Carbonates totaux g/kg,...,Azote total (o/oo) g/kg,C/N -,P2O5 Olsen (o/oo) g/kg,Cu DTPA mg/kg,Zn DTPA mg/kg,Ni DTPA mg/kg,Cu total ER (mg/Kg),Ni total ER (mg/Kg),Pb total ER (mg/Kg),Zn total ER (mg/Kg)
0,T-02540-24,EvEx_03Gal,WW 848033,557,189.0,104.0,91.3,58.8,8.3,225.0,...,2.3,13.9,0.026,13.1,4.7,0.37,71.2,26.2,44.9,109.0
1,T-02541-24,EvEx_04Mou,WW 848035,362,123.0,125.0,196.0,194.0,8.3,101.0,...,1.2,12.9,0.057,5.6,2.9,0.89,38.4,79.6,36.1,91.4
2,T-02542-24,EvEx_05Mou,WW 848037,205,116.0,125.0,245.0,309.0,8.1,94.4,...,1.7,12.1,0.095,3.3,9.5,0.69,31.4,61.3,70.7,122.0
3,T-02543-24,EvEx_06Lou,WW 848039,405,135.0,130.0,253.0,77.6,8.5,207.0,...,1.1,13.7,0.027,16.4,3.2,0.26,70.3,29.1,47.6,77.0
4,T-02544-24,EvEx_07Lou,WW 848041,431,135.0,128.0,253.0,54.0,8.4,156.0,...,1.0,13.2,0.058,16.6,3.1,0.16,77.1,33.6,52.0,85.5

In [135]:
df.to_excel('analyse_de_terre.xlsx', index=False)